.commandButtons {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-background-radius: 25;
}
#clearButton {
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

#vbox {
    -fx-background-color: #EDEDED;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.01, -4.5, 4.5);
}


#consoleTextField {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

#mainpane {
    -fx-background-color: white;
}


.text-area {
    -fx-control-inner-background: #EDEDED;
    -fx-background-insets: 1;
    -fx-faint-focus-color: transparent;
}

.text-field {
    -fx-border-radius: 25;
}



/*.scroll-bar:horizontal, .scroll-bar:vertical{*/
/*    -fx-background-color:transparent;*/
/*}*/

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.text-field {
    -fx-control-inner-background: white;
    -fx-background-insets: 1;
    -fx-faint-focus-color: transparent;
}

.text-area {
    -fx-font-family: 'monospace';
}

.text-area:focused {
    -fx-font-size: 16;
}