#menupane{
    -fx-background-color: #CCCCCC ;
}

#mainpane {
    -fx-background-color: white;
}

#tablebutton{
    -fx-background-color: #6C69F5;
    -fx-background-radius: 5;
}

#visualizationbutton{
    -fx-background-color: #8C79FF;
    -fx-background-radius: 5;
}

#commandsbutton{
    -fx-background-color: #A880FF;
    -fx-background-radius: 5;
}

#accountbutton:focused{
    -fx-border-width: 0;
}

.hyperlink:focused {
    -fx-border-color: transparent;
}